<html>
<head>
<title>FLOWER PREDICTION</title>
</head>
<body style="background-color: rgb(208, 0, 255);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FLOWER PREDICTION MODEL 
    <form action="/predict" method ="POST">
        <br>
        <br><br><br><br>
        <label>sepal length (cm)</label><input type="text" name ="sepal length (cm)"><br><br>
        <label>sepal width (cm)</label><input type="text" name ="sepal width (cm)"><br><br>
        <label>petal length (cm)</label><input type="text" name ="petal length (cm)"><br><br>
        <label>petal width (cm)</label><input type="text" name ="petal width (cm)"><br><br>
         
        <input type="submit">
        <br><br>
        
    </form>
    
</body>
</html>